<h2>Product Details</h2>

<div *ngIf="product" class="product">
    <h3>{{ product.name}}</h3>
    <img [src]='product.imgUrl' alt="Photo" class="product-img big">

    <select name="color" id="colorSelector" >
        <option 
            *ngFor="let color of product.colors" 
            value="{{ color }}"
        > 
            {{color}}
        </option>
    </select>
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>
    <button type="button" class="buy-btn" (click)="addToCart(product)">Buy</button>
</div>
